@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  border: none;
}

img {
  max-width: 100%;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  min-height: 100vh;
}
.container {
  background-color: white;
  width: 320px;
  border-radius: 20px;
  text-align: center;
}

.pic-hero {
  border-radius: 20px 20px 0 0;
}

.title {
  margin: 10px 0;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.discription {
  font-size: 14px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  padding: 0 20px 20px;
}

.wrap-plan {
  background-color: hsl(225, 100%, 98%);
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 500;
}
.wrap-plan > article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic-music {
  height: 34px;
  margin-right: 10px;
}

.plan {
  color: hsl(223, 47%, 23%);
  font-style: bold;
}
.price {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}

.btn-change {
  background-color: hsl(225, 100%, 98%);
  color: hsl(245, 75%, 52%);
  border-bottom: 1px hsl(245, 75%, 52%);
  text-decoration: underline;
  margin-right: 10px;
}

.btn-change:hover {
  opacity: 0.6;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buy {
  text-align: center;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 10px;
  width: 240px;
  height: 35px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.buy:hover {
  opacity: 0.7;
}

.cancel {
  width: 240px;
  height: 35px;
  background-color: white;
  color: hsl(224, 23%, 55%);
  transition: 0.5s;
}

.cancel:hover {
  color: black;
}

@media (max-width: 500px) {
  body {
    background-image: url(images/pattern-background-mobile.svg) no-repeat
      center/cover;
  }
}
